<ion-content class="content">
        <h1 class="genre">Most popular genres</h1>
                <h2>{{first}}</h2>
                <ion-slides>
                    <ion-slide *ngFor="let s of series | genrePipe : first">
                        <div [routerLink]="['/','series', s.id]" class="slide">
                            <img [src]="s.image" style="height: 250px;width: 375px;"/>
                            <h3>{{s.name}}</h3>
                            <p>{{s.description}}</p>
                        </div>
                    </ion-slide>
                </ion-slides>
                <h2>{{second}}</h2>
                <ion-slides>
                    <ion-slide *ngFor="let s of series | genrePipe : second">
                        <div [routerLink]="['/','series', s.id]" class="slide">
                            <img [src]="s.image" style="height: 250px;width: 375px;" />
                            <h3>{{s.name}}</h3>
                            <p>{{s.description}}</p>
                        </div>
                    </ion-slide>
                </ion-slides>
                <h2>{{third}}</h2>
                <ion-slides>
                    <ion-slide *ngFor="let s of series | genrePipe : third">
                        <div [routerLink]="['/','series', s.id]" class="slide">
                            <img [src]="s.image" style="height: 250px;width: 375px;"/>
                            <h3>{{s.name}}</h3>
                            <p>{{s.description}}</p>
                        </div>
                    </ion-slide>
                </ion-slides>

</ion-content>