.category{
    background-color: #6a097d;
    text-align: center;
}

.catName{
    background-color: #9f14bb;
}

.award{
    background-color: #c060a1;
}

.card-native{
    width: 90px !important;
    height: 90px !important;

    outline-color: black;
}


ion-img{
    align-items: center;
}

ion-card{
    width:104px !important;
    height: 170px !important;
    margin-left: -50px !important;
}
